/* Basic style */
*{margin:0px;padding:0px;}
html,body{font-size:14px;color:#757574;font-family:"Microsoft YaHei";}
ul,li{list-style:none;text-align:left;margin:0;}
h1,h2,h3,h4{font-size:12px;font-weight:normal;}
h1{font-size:12px;line-height:35px;}
h2{font-size:14px;line-height:14px;}
h3{font-size:16px;line-height:16px;}
input,select{color:#757574;vertical-align:middle;}
em{font-style:normal;}
/* font color */

/* general */

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%; zoom:1; }

.wapper{width:1000px;margin:0 auto;text-align:center;}
.tex_le{text-align:left!important;}
.tex_cen{text-align:center!important;}
.tex_ri{text-align:right!important;}
.font_wei{font-weight:normal!important;}
.fon_12{font-size:12px!important;}
.fon_14{font-size:14px!important;}
.fon_16{font-size:16px!important;}
.fon_20{font-size:20px!important;}
.fon_26{font-size:26px!important;}
.fon_36{font-size:36px!important;}
.fl_le{float:left!important;}
.fl_ri{float:right!important;}
.pad_top0{padding-top:0!important;}
.pad_top6{padding-top:6px!important;}
.pad_top10{padding-top:10px!important;}
.pad_top15{padding-top:15px!important;}
.pad_top37{padding-top:30px!important;}
.pad_ri0{padding-right:0!important;}
.pad_ri5{padding-right:5px!important;}
.pad_ri10{padding-right:10px!important;}
.pad_ri15{padding-right:15px!important;}
.pad_ri30{padding-right:30px!important;}
.pad_bot0{padding-bottom:0!important;}
.pad_bot10{padding-bottom:10px!important;}
.pad_bot15{padding-bottom:15px!important;}
.pad_bot37{padding-bottom:30px!important;}
.pad_bot40{margin-bottom:50px!important;}
.pad_bot60{margin-bottom:60px!important;}
.pad_le0{padding-left:0!important;}
.pad_le5{padding-left:5px!important;}
.pad_le10{padding-left:10px!important;}
.pad_le15{padding-left:15px!important;}
.pad_le30{padding-left:30px!important;}
.pad_le54{padding-left:54px!important;}
.pad_le59{padding-left:59px!important;}
.pad5{padding:5px!important;}
.pad7{padding:7px;}
.pad20{padding:20px;}
.pad30{padding:30px;}
.mar10{margin:10px;}
.mar_top0{margin-top:0!important;}
.mar_top1{margin-top:1px!important;}
.mar_top2{margin-top:2px!important;}
.mar_top4{margin-top:4px!important;}
.mar_top6{margin-top:6px!important;}
.mar_top8{margin-top:8px!important;}
.mar_top10{margin-top:10px!important;}
.mar_top12{margin-top:12px!important;}
.mar_top15{margin-top:15px!important;}
.mar_top19{margin-top:19px!important;}
.mar_top20{margin-top:25px!important;}
.mar_top39{margin-top:39px!important;}
.mar_top35{margin-top:45px!important;}
.mar_top52{margin-top:52px!important;}
.mar_top63{margin-top:63px!important;}
.mar_top343{margin-top:310px!important;}
.mar_ri0{margin-right:0!important;}
.mar_ri2{margin-right:2px!important;}
.mar_ri5{margin-right:5px!important;}
.mar_ri10{margin-right:10px!important;}
.mar_ri20{margin-right:20px!important;}
.mar_bot0{margin-bottom:0px!important;}
.mar_bot1{margin-bottom:1px!important;}
.mar_bot10{margin-bottom:10px!important;}
.mar_bot30{margin-bottom:30px!important;}
.mar_le0{margin-left:0!important;}
.mar_le10{margin-left:10px!important;}
.mar_le17{margin-left:17px!important;}
.mar_le20{margin-left:20px!important;}
.mar_le30{margin-left:30px;}
.mar_le45{margin-left:45px;}
.mar_le245{margin-left:285px;}
.mar_top_bot32{margin-top:32px;margin-bottom:32px;}
.bor_bot0{border-bottom:0!important;}
.wid10{width:10px!important;}
.wid100{width:100px!important;}
.wid150{width:150px!important;}
.wid200{width:200px!important;}
.wid389{width:389px!important;}
.wid851{width:836px!important;}
.wid20bai{width:20%!important;}
.wid30bai{width:30%!important;}
.wid40bai{width:45%!important;}
.wid60bai{width:55%!important;}
.wid70bai{width:70%!important;}
.wid80bai{width:80%!important;}
.wid90bai{width:90%!important;}
.wid100bai{width:100%!important;}
.hei20{height:20px!important;}
.hei100{height:100px;}
.hei300{height:300px;}
.heiauto{height:auto!important;min-height:auto!important;}
.black{color:#000!important;}
.white{color:#fff!important;}
.red{color:#de2f4e!important;}
.blue{color:#71bdff!important;}
.orange{color:#ffa066!important;}
.green,.green:hover{color:#4aab51;}
.hui{color:#999999!important;}
.s_hui{color:#333333!important;}
.bg_white{background-color:#fff!important;}
.bg_blue{background-color:#81bffa!important; box-shadow:1px 3px 3px #d2e8ff!important;}
.bg_hui{background-color:#d8d8d8!important;box-shadow:1px 4px 4px #ececec!important;}
.bg_qhui{background-color:#f8f8f8!important;}
.bg_yellow{background-color:#fff6ed!important;}
.li_hei26{line-height:26px;}
.bor_no{border:0!important;}
.bor_rino{border-right:0!important;}
.bor_botno{border-bottom:0!important;}
.bg_no{background-image:none!important;}
.bor4{border:1px solid #C7C7CC!important;}
.bor_top_hui{border-top:1px solid #ebebeb!important;}
.more{float:right;color:#656667;padding-right:13px;background:url(../images/more.gif) 100% 50% no-repeat;}
.undis{display:none!important;}
.ov_he{overflow:hidden;}
.ri_10{right:10px!important;}
.fillet5 {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.fillet10 {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}



.mui_ho_nav{background-color:#fff;}
.mui_ho_nav a{display:inline-block;padding:15px 0;text-align:center;}
.mui_ho_nav a span{width:100%;display:inline-block;color:#333333;}
.mui_ho_nav a img{width:50%;}

.mui-slider_title{background-color:#fff;border-bottom:1px solid #C7C7CC;}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{color:#de2f4e!important;}
.mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar{background-color: #de2f4e;}
.mui-select select{padding-left:10px;}
.jycx_cd_list{border-bottom:1px solid #DDDDDD;}
.jycx_cd_list strong{font-size:12px;}
.jycx_cd_list span{font-size:10px;text-align:right;}
.jycx_cd_list strong,.jycx_cd_list span{padding-bottom:5px;}
.jycx_cd_list_bot span{font-size:12px;}
.jycx_cd_list_btn{border-top:1px solid #DDDDDD;margin:0;border-bottom:0;}

.jycx_title{background-color:#fff;padding:15px 10px;border-radius: 5px;}
.jycx_title li{text-align:center;border-right:1px solid #EEEEEE;font-size:12px;}
.jycx_title li em{width:100%;float:left;font-size:20px;color:#F0AD4E;}
.list_title{padding:0 10px 10px 10px;}

.xmxq_left,.xmxq_right{height:250px;overflow:hidden;background-color:#fff}
.xmxq_left #main{padding:10px;}
.xmxq_right ul{width:100%;background-color:#fff;height:250px;padding-top:5px;}
.xmxq_right ul li{font-size:9px;line-height:21px;}
.xmxq_right .line{border-bottom:1px solid #DDDDDD;margin:11px 0;}
.xq_table_layout{height:200px;overflow-y:auto;}
.xq_table li{border-bottom:1px solid #EEEEEE;}
.mui-table-view:before,.mui-table-view:after{height:0;}
.gd_bg{background-color:#cccccd;color:#fff!important;text-align:center;}
.mui-collapse-content,.mui-collapse-content a{padding:0!important;}
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell:after{height:0;}
.bor_nav{height:45px;}
.wdtq_head img{border-radius:60px;border:1px solid #BBBBBB;padding:5px;margin-right:10px;}
.wdtq_head span{margin-top:7px;float:left;font-size:14px;}
.ljxz_btn{background-color:#fff;border-radius: 5px;color:#757574;text-align:center;margin:11px 0 0 0!important;}
.bor_xz{bottom:0;left:0;top:auto;}
.mui-popup-text{line-height:26px;text-align:left;}
.mui-popup-text input{height:26px;}
.fx_bar{height:90px;background-color:#fff;}
.fx_bar a{padding:10px 0;text-align:center;}
.display_none{ display:none;}
.wxsqdl_head{text-align:center!important;padding:30px 0!important;}
.wxsqdl_head img,.wxsqdl_head span{float:none!important;margin:0!important;}

.jy_hd_num{border:1px solid #cbc5c5;background-color:#f8f7f7;float:left;padding:10px;}
.jy_hd_num span{background-color:#fff;border:1px solid #cbc5c5;padding:20px 0;width:100%;float:left;margin-top:10px;}

.zccg_msg{}
.zccg_msg .modal-body{background:url("../images/zccg_bg.jpg") 50% 50% no-repeat;height:281px;}
.zccg_msg .modal-body strong{font-size:35px;color:#fff;width:100%;float:left;font-weight:normal;margin-top:30px;}
.zccg_msg .modal-body span{font-size:20px;color:#fff;width:50%;float:left;margin-top:55px;}
.zccg_msg .modal-body span b{font-size:35px;color:#fefb03;font-weight:normal;}
.zccg_msg .modal-footer p{width:100%;float:left;padding:10px 0;text-align:center;}

.mui_ho_ye{}
.mui_ho_ye p{padding:30px 20px!important;width:100%;float:left;margin:0;}
.mui_ho_ye p span{float:left;color:#333333;font-size:18px;}
.mui_ho_ye p strong{float:right;color:#fc5555;font-size:18px;}
.mui_ho_ye a{width:100%;float:left;border-top:1px solid #e4e4e4;color:#999999;font-size:16px;}

.ho_new_list{background-color:#f5f5f5;padding-bottom:70px;}
.ho_new_list li{background-color:#fff;width:100%;padding:10px  15px 0 15px;margin-bottom:10px;}
.ho_new_list li h3{color:#333333;margin-bottom:15px;}
.ho_new_list li h3 em{float:right;color:#fe5555;}
.ho_new_list div{position:relative;}
.ho_new_list div .img{}
.ho_new_list div .bs{position:absolute;top:0;right:-6px;z-index:10;width:96px!important;}
.ho_new_list p{color:#666666;margin-top:-33px;}
.ho_new_list li span{text-align:center;font-size:16px;padding:10px 0 15px 0;}
.ho_new_list li span strong{width:100%;float:left;font-size:16px;color:#fc5555;font-size:24px;margin-bottom:5px;}
.ho_new_list li span strong em{font-size:14px;}
.ho_new_list li .cx_btn{width:108%;float:left;border-top:1px solid #ebebeb;margin-left:-4%;margin-bottom:0;}
.ho_new_list li .cx_btn a{font-size:18px;padding:10px 30px;background-color:#d9534f;float:right; border-radius:60px;color:#fff;margin:10px;box-shadow:0 4px 5px #fcdbda;}

.ho_new_menu{width:100%;height:80px;background-color:#fff;text-align:center;border-top:1px solid #c9c9c9;position:fixed;bottom:0;left:0;z-index:999;}
.ho_new_menu a{color:#999999;text-align:center;width:100%;float:left;}
.ho_new_menu a:hover,.ho_new_menu .active a{color:#fc5555;}
.ho_new_menu span{height:44px;width:100%;float:left;background-size:30px 30px!important;margin-bottom:5px;}
.ho_new_menu .a1 span{background:url("../images/icon36_1.png") 50% 100% no-repeat;}
.ho_new_menu .a1:hover span,.ho_new_menu .active .a1 span{background:url("../images/icon36.png") 50% 100% no-repeat;}
.ho_new_menu .a2 span{background:url("../images/icon37_1.png") 50% 100% no-repeat;}
.ho_new_menu .a2:hover span,.ho_new_menu .active .a2 span{background:url("../images/icon37.png") 50% 100% no-repeat;}
.ho_new_menu .a3 span{background:url("../images/icon38_1.png") 50% 100% no-repeat;}
.ho_new_menu .a3:hover span,.ho_new_menu .active .a3 span{background:url("../images/icon38.png") 50% 100% no-repeat;}
.ho_new_menu .a4 span{background:url("../images/icon39_1.png") 50% 100% no-repeat;}
.ho_new_menu .a4:hover span,.ho_new_menu .active .a4 span{background:url("../images/icon39.png") 50% 100% no-repeat;}

.wdtz_menu{padding:0 0;height:55px;}
.wdtz_menu a{padding:5px 12px;background-color:#efeff4;border:1px solid #efeff4;color:#333333;font-size:16px;margin:10px;float:left;border-radius:60px;}
.wdtz_menu a:hover,.wdtz_menu .active{padding:5px 10px;background-color:#fff;border:1px solid #e4e4e4;color:#333333;font-size:16px;margin:10px;float:left;border-radius:60px;}

.log_logo{margin:60px auto;width:30%;}
.log_layout form{margin:0 20px;}
.log_layout .mui-input-group:before,.log_layout .mui-input-group:after{background-color:#fff;}
.log_layout .mui-input-row{margin-bottom:10px;}
.log_layout .mui-input-group .mui-input-row:after{background-color:#fff!important;}
.log_layout .mui-input-row input[type=text],.log_layout .mui-input-row input[type=password]{border-bottom:1px solid #e4e4e4;padding-left:0;padding-right:0;}
.log_layout .mui-input-row input[type=text]:focus,.log_layout .mui-input-row .active,.log_layout .mui-input-row input[type=password]:focus{border-bottom:1px solid #fc5555!important;color:#000000!important;}
.log_wx{padding:30px 0;background-color:#fff;}
.log_wx span{width:100%;float:left;color:#999999;padding:10px 0;font-size:16px;}
.log_layout .mui-input-row{position:relative;height:auto;} 
.log_layout .mui-input-row .yz{ position:absolute;right:0;top:7px;color:#fc5555;}
.log_layout .mui-input-row label{width:100%!important;float:left;text-align:left;padding:0;color:#999999;}
.log_layout .mui-input-row input[type=text]{width:100%!important;float:left;text-align:left;padding:0;color:#000!important;font-family:"Microsoft YaHei";}
.log_layout .mui-input-row .yzm{ position:absolute;right:0;top:25px;color:#fc5555;width:20px;}

.xmxq_cptp{ position:relative;}
.xmxq_cptp .xmx_fn{ position:absolute;top:10px;left:10px;z-index:20;}
.xmxq_cptp .xmx_fn img{width:40px;}
.xmxq_title{width:100%;float:left;padding:15px;}
.xmxq_title h3{font-size:18px;color:#333333;float:left;}
.xmxq_title img{float:right;width:70px;margin-top:-3px;}
.xmxq_time{padding-top:10px;padding-bottom:10px;color:#f35b6a;}

.xmxq_about{padding:15px;background-color:#fff;}
.xmxq_about .title{padding:15px 0;}
.xmxq_about .about{border:1px solid #ebebeb;padding:15px;margin:0;border-bottom:0;}
.xmxq_about .about strong{width:100%;float:left;padding-bottom:10px;color:#262626;}
.xmxq_about .about span{color:#9d9d9d;}
.xmxq_about .xmxq_new_table{border-left:1px solid #ebebeb;border-top:1px solid #ebebeb;background-color:#f8f8f8;}
.xmxq_about .xmxq_new_table td{border-right:1px solid #ebebeb;border-bottom:1px solid #ebebeb;padding:10px;}
.xmxq_new_table .mui-col-xs-3{color:#282828;}
.xmxq_new_table .mui-col-xs-9{color:#9d9d9d;}

.xmxq_new_menu{width:100%;height:60px;background-color:#fff;text-align:center;border-top:1px solid #c9c9c9;position:fixed;bottom:0;left:0;z-index:999;}
.xmxq_new_menu a{font-size:18px;height:60px;line-height:60px;text-align:left;color:#666666;}
.xmxq_new_menu a img{width:25px;margin:15px 10px 0 14px;float:left;}
.xmxq_new_menu .a7{background-color:#fc5555;color:#fff;text-align:center;}
.xmxq_tb{width:100%;height:150px;padding:15px;}
.xmxq_tlist{width:100%;float:left;margin:15px 0;}
.xmxq_tlist li{width:100%;float:left;height:45px;background:url(../images/icon53.gif)0 0 no-repeat;padding-left:25px;}
.tzgm_lay{padding:10px 0;}
.tzgm_lay p{padding:10px 20px!important;}

.tzgm_lay .ck{padding:0 35px 20px 35px;text-align:center;float:left;width:100%;font-size:16px;color:#333333;}
.progress-bar{background-color:#ee7f3b;}
.tzgm_lay .jjh input{height:36px;border:1px solid #b5b5b5;text-align:center;font-size:26px;color:#b7b7b7;}
.tzgm_lay .jjh a{display:inline-block;height:36px;padding:0;float:left;}
.tzgm_lay .jjh a img{margin-top:4px!important;width:50%;}
.tzgm_lay .jjh input{color:#333333;font-size:20px;display:inline-block;margin:0;}
.tzgm_btn{padding:10px;font-size:20px; box-shadow:1px 3px 3px #f4b6b6;}

.fqzr_btn{width:60px;height:60px;line-height:16px;padding-top:13px;color:#fff;float:right; position:fixed;bottom:90px;right:5px;background: linear-gradient(to bottom, #9fcaf8 0%,#58a8f8 100%); border-radius:60px;z-index:9999;text-align:center; box-shadow:1px 4px 4px #e0edfb;}
.fqzr_btn:hover{ opacity:0.7;}

.mui-slider_title_hid{position:fixed;top:44px;left:0;z-index:9999;}
.xmxq_title span{width:70px;height:36px;padding-right:6px;color:#fff;line-height:36px;float:right;background:url(../images/icon_rc.png)0 0 no-repeat; background-size:cover;text-align:center;}

.modal-open {
	overflow: hidden
}
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0
}
.modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%)
}
.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0)
}
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto
}
.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px
}
.modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.2);
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px rgba(0,0,0,.5)
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000
}
.modal-backdrop.fade {
	filter: alpha(opacity=0);
	opacity: 0
}
.modal-backdrop.in {
	filter: alpha(opacity=50);
	opacity: .5
}
.modal-header {
	min-height: 16.43px;
	padding: 15px;
	border-bottom: 1px solid #e5e5e5
}
.modal-header .close {
	margin-top: -2px
}
.modal-title {
	margin: 0;
	line-height: 1.42857143
}
.modal-body {
	position: relative;
	padding: 15px
}
.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5
}
.modal-footer .btn+.btn {
	margin-bottom: 0;
	margin-left: 5px
}
.modal-footer .btn-group .btn+.btn {
	margin-left: -1px
}
.modal-footer .btn-block+.btn-block {
	margin-left: 0
}
.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll
}
@media (min-width:768px) {
.modal-dialog {
	width: 600px;
	margin: 30px auto
}
.modal-content {
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
	box-shadow: 0 5px 15px rgba(0,0,0,.5)
}
.modal-sm {
	width: 300px
}
}
@media (min-width:992px) {
.modal-lg {
	width: 900px
}
}

.modal-dialog {
	
}
.modal-dialog .modal-content {
	border-radius: 7px
}
.modal-dialog .modal-header {
	background-color: #e0374e;
	height: 45px;
	padding: 10px 10px 10px 20px
}
.modal-dialog .modal-header h4 {
	font-size: 16px;
	color: #fff
}
.modal-dialog .modal-header .close {
	width: 28px;
	height: 28px;
	line-height: 26px;
	padding: 0;
	background-color: #a80319;
	float: right;
	opacity: 1;
	border-radius: 30px;
	text-shadow: none
}
.modal-dialog .modal-header .close span {
	color: #fff;
	float: left;
	margin: -2px 0 0 6px
}
.modal-dialog .modal-footer {
	padding: 0;
	border: 0;
	width: 100%;
	float: left
}
.modal-dialog .modal-footer button {
	width: 50%;
	height: 55px;
	float: left;
	border: 0;
	border-radius: 0;
	font-size: 16px
}
.mod_new{}
.mod_new .modal-header{background-color:#fff;font-size:20px;color:#333333;text-align:center;border:0;border-radius:10px;}
.mod_new .modal-header .close{background-color:#b5b5b5;margin:-30px -20px 0 0;width:32px;height:32px;}
.mod_new .modal-header .close span{margin:-5px 0 0 5px;font-size:28px;}
.mod_new ul{font-size:16px;color:#666666;}
.mod_new ul li{margin:10px 0;width:100%;float:left;font-size:16px;}
.mod_new ul li span{width:97px;text-align:left;float:left;color:#666666;}
.mod_new ul .passwor input{width:41px;height:40px;line-height:40px;float:left;color:#333333;font-size:16px;text-align:center;}
.mod_new ul .xy{font-size:16px;color:#666666;}
.mod_new ul .xy input{float:left;margin-right:10px;}
.mod_new ul .xy a{padding:0 5px;color:#ef8c39;text-decoration:underline;}
.mod_new .modal-footer button{width:40%;margin-left:26px!important; border-radius:10px;}
.mod_new .modal-footer .btn-danger{background-color:#fe5555;}
.mod_new1 .btn{height:44px!important; border-radius:5px!important;margin-left:7%!important;width:158px!important;}
.mod_new2 .btn{width:158px!important;height:44px!important; border-radius:4px!important;}
.mod_new2 .modal-header,.mod_new1 .modal-header,.mod_new .modal-header{padding-top:20px;}

.sj_model_fx_bot{bottom:10px; position:absolute;left:0;width:95%;}
.sj_model_fx span em{width:100%;float:left;}

.sj_model_wx dl{text-align:left;}
.sj_model_wx dl dt,.sj_model_wx dl dd,.sj_model_wx span{font-size:16px;color:#333333;}
.sj_model_wx dl dd{margin-top:10px;}
.sj_model_wx span{font-size:18px;}
.sj_model_wx img{width:80%;margin-top:10px;}

.gzgm_model .modal-header{border-bottom:1px solid #e4e4e4;border-radius:0;padding:15px;text-align:left;}
.gzgm_model .modal-header button{margin-top:-25px!important;}
.gzgm_model .modal-body p{width:100%;float:left;font-size:20px;color:#333333;margin:10px 0;}
.gzgm_model .modal-body span{border-right:1px solid #e4e4e4;margin:10px 0;font-size:20px;float:left;}
.gzgm_model .modal-body strong{font-size:20px;color:#fc5555;width:100%;float:left;margin-top:10px;}
.gzgm_model .modal-body .inp{width:100%;float:left;border-top:1px solid #e4e4e4;}
.gzgm_model .modal-body .tzgm_lay_top{padding:15px;width:100%;float:left;}
.gzgm_model .inp{padding:15px 15px 0 15px;}
.gzgm_model .inp input{margin:0;float:left; border-radius:0;height:60px;}

.tzgm_mum{position:fixed;bottom:0;left:0;width:100%;float:left;background-color:#e5e5e5;border-top:1px solid #e5e5e5;}
.tzgm_mum a{border-right:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;background-color:#fff;height:50px;text-align:center;line-height:50px;font-size:24px;color:#333333;}
.tzgm_mum a:hover{ opacity:0.5;}
.tzgm_mum .mum_x{font-size:36px;background-color:#e5e5e5;}

.jyjl_list{border-bottom:1px solid #ebebeb;padding:10px 0;width:100%;float:left;}
.jyjl_list p{padding:5px 20px!important;}
.smrz_ny li{padding:0;}
.smrz_ny li .pad_le30{padding-left:34px!important;}


.smrz_btn a{border:1px solid #dfdfdf;background-color:#fff;margin-top:15px;}
.smrz_btn a img{width:15%;margin-top:15px;}
.smrz_btn a span{width:100%;float:left;}
.smrz_btn a:hover{ opacity:0.5;}

.tx_bot_layout button{margin-left:0!important;width:50%!important;float:left;border:1px solid #e4e4e4!important;color:#999999;background-color:#fff; border-radius:0!important;}

.wd_member{height:200px;background:url(../images/member_bg.gif) 0 0 no-repeat;padding-top:35px; background-size:cover;}
.wd_member span{font-size:18px;text-align:center;color:#fff;float:left;padding-bottom:20px;}
.wd_member span strong{width:100%;float:left;padding-top:10px;font-size:22px;}
.member_a a{border-right:1px solid #ebebeb;text-align:center;padding:15px 0;font-size:18px;color:#fc5555;}

.member_a1 li{padding:0!important;}
.member_a1 a{text-align:center;padding:15px;font-size:18px;color:#fc5555;background:url(../images/icon66.gif) 97% 50% no-repeat; background-size:10px;border-bottom:1px solid #ebebeb;text-align:left;}
.member_a1 a img{width:20px;margin:0 15px 0 0;float:left;}
.member_a1 a span{padding:0;float:left;line-height:16px;color:#666666;}

.yhk_new{padding:20px;margin-top:20px;}
.yhk_new h3,.yhk_new ul,.yhk_new ul li,.yhk_new p,.yhk_new p span{width:100%;float:left;}
.yhk_new h3{text-align:left;margin:0 0 43px 0;font-size:16px;color:#333333;}
.yhk_new ul li{margin-bottom:20px;text-align:center;}
.yhk_new ul li div{width:100%;height:186px;float:left;background:url(../images/yhk_bg.png) 0 0 no-repeat;background-size:101%;position:relative;}
.yhk_new ul li div .syz_logo{float:left;margin:17px 0 0 23px;font-size:18px;color:#fff;font-style:normal;font-weight:bold;}
.yhk_new ul li div .syz_logo img{margin-right:12px;}
.yhk_new ul li div span{text-align:right;float:left;}
.yhk_new ul li div span em{font-size:22px;color:#fff!important;font-style:normal!important;}
.yhk_new ul li div strong{font-size:30px;color:#fff!important;float:left;position:absolute;font-weight:bold;bottom:63px;right:35px;z-index:10;text-align:right;}
.yhk_new ul li a{display:inline-block;width:90%!important;padding:0 15px;font-size:16px;margin:10px auto 0 auto;border-radius:5px;height:34px;line-height:34px;background-color:#fc5555;color:#fff;float:none;}
.yhk_new ul li a:hover,.yhk_new p a:hover{text-decoration:none; opacity:0.8;}
.yhk_new p{text-align:center;padding-top:50px;}
.yhk_new p span{text-align:center;margin:30px 0 0 0;}
.yhk_new p a{padding:10px 50px;display:inline-block;background-color:#fc5555;color:#fff; border-radius:5px;font-size:16px;}
.yhk_new p a img{float:left;margin:4px 10px 0 0;}
@media (max-width:375px) {
.ho_li_font {
	font-size:16px!important;
}
.yhk_new ul li div strong{font-size:20px!important;}
.yhk_new ul li div span em{font-size:18px;}
.yhk_new ul li div{height:160px;}
.mui_ho_ye p span{font-size:14px;}
}
.black{color:#000!important;}

.dropdown, .dropup {
	position: relative
}
.dropdown-toggle:focus {
	outline: 0
}
.dropdown-menu {
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
}
.dropdown-menu.pull-right {
	right: 0;
	left: auto
}
.dropdown-menu .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5
}
.dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover {
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent;
	background-image: none;
filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
}
.open>.dropdown-menu {
	display: block
}
.open>a {
	outline: 0
}
.dropdown-menu-right {
	right: 0;
	left: auto
}
.dropdown-menu-left {
	right: auto;
	left: 0
}
.dropdown-menu{width:100%;float:left; position:absolute;top:43px;left:0;background-color:#fff;padding:10px 5px 5px 5px;}
.dropdown-menu li{float:left;padding:0 5px;margin:10px 0;}
.dropdown-menu li a{width:100%;float:left;border:1px solid #d2d2d2;padding:5px 0; border-radius:10px;text-align:center;font-size:16px;color:#666666;}
.dropdown-menu li a:hover{background-color:#ffeeee;border:1px solid #fc5555;color:#fc5555;}
.aqbhwt_a{padding:0!important;width:auto!important;border:0!important;float:none!important;margin-left:5px;}
.sjhm_text{}

.qsy_msg{width:100%;background-color:#fff;text-align:center;float:left;padding:70px 0;}
.qsy_msg img{width:40%!important;}
.qsy_msg .img1{width:60%!important;}
.qsy_msg span{width:100%;float:left;font-size:18px;padding:30px 0;}
.qsy_msg a{display:inline-block;background-color:#fd5555;padding:7px 40px;font-size:18px;color:#fff; border-radius:5px; box-shadow:1px 3px 3px #fec0c0;}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
}
.form-control::-moz-placeholder {
color:#999;
opacity:1
}
.form-control:-ms-input-placeholder {
color:#999
}
.form-control::-webkit-input-placeholder {
color:#999
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	background-color: #eee;
	opacity: 1
}
.form-control[disabled], fieldset[disabled] .form-control {
	cursor: not-allowed
}

.zha_tx{width:50px;height:50px; border-radius:60px;}
.zhaq_jiantou p{background:url(../images/icon66.gif) 96% 50% no-repeat;background-size:7px 15px;padding:5px 30px 5px 20px!important;}